# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android/Gradle
android/.gradle/
android/app/build/
*.apk
*.aab

# IDE and local files
.idea/
*.iml
.DS_Store
config.bat
node_modules
